<!DOCTYPE html>
<!-- 普通用户页面 -->
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/home">我的借阅</a>
    <a href="">图书馆藏</a>
    <table>
      <tr>
        <th>书名&nbsp&nbsp&nbsp</th>
        <th>书本编号&nbsp&nbsp&nbsp</th>
        <th>借阅状态&nbsp&nbsp&nbsp</th>
        <th>操作&nbsp&nbsp&nbsp</th>
      </tr>
      <% for(var i in booksinfo){ %>
      <tr>
        <th><%= booksinfo[i].book_name %> &nbsp&nbsp&nbsp</th>
        <th><%= booksinfo[i].book_id %> &nbsp&nbsp&nbsp</th>
        <% if(booksinfo[i].lend_time!=null){ %>
          <th>借出日期:<%= booksinfo[i].lend_time %> &nbsp&nbsp&nbsp</th>
          <th>
          <form  action="#" method="get">
            <button type="submit" value="<%= booksinfo[i].book_id %>" name="id">预约</form>
          </th>
        <% }else{ %>
          <th>可借&nbsp&nbsp&nbsp</th>
          <th>
          <form  action="/books/lendBook" method="get">
            <button type="submit" value="<%= booksinfo[i].book_id %>" name="book_id">借阅</form>
          </th>
        <% } %>
      </tr>
      <% } %>
    </table>
      <h2>当前用户名: <%= username %>&nbsp&nbsp&nbsp<a href="/users/logout">登出</a></h2>
  </body>
</html>
