<!DOCTYPE html>
<!-- 普通用户页面 -->
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style4.css'  type="text/css" />
  </head>
  <body>
    <div class="top-buttons-agileinfo">
    <div class="top-buttons-left">
    <h2><a><%= title %></a></h2>
   </div>
   <div class="top-buttons-right">
       <div class="switch">当前用户：<%= username %>&nbsp&nbsp</br><<%= email %>></div>
      <h5><a href="/users/logout">登出</a></h5>
   </div>

 </div>
    <div class="content">
    <a href="">我的借阅</a>
    <a href="/books/getAllBookInfo">图书馆藏</a>
    <table>
      <tr>
        <th>书名&nbsp&nbsp&nbsp</th>
        <th>书本编号&nbsp&nbsp&nbsp</th>
        <th>借阅如期&nbsp&nbsp&nbsp</th>
        <th>操作&nbsp&nbsp&nbsp</th>
      </tr>
      <tr>
        <th><%= mylendinfos1 %> &nbsp&nbsp&nbsp</th>
        <th><%= mylendinfos2 %> &nbsp&nbsp&nbsp</th>
        <th><%= mylendinfos3 %> &nbsp&nbsp&nbsp</th>
        <% if(mylendinfos2!=null){ %>
        <th>
        <form  action="/books/backBook" method="get">
          <button type="submit" value="<%= mylendinfos2 %>" name="book_id">归还</form>
        </th>
        <% } %>
      </tr>
    </table>
  </div>
  </body>
</html>
